<!DOCTYPE html>
<html>
<head>
	<title>BC - About</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script type="text/javascript" src="../js/about.js"></script>
	<link rel="stylesheet" type="text/css" href="../stylesheets/about.css">
</head>
<body>
		<div class="navBar">
			<a href="../index.html">
				<img id="bcLogo1" src="../media/bclogo1.jpg">
			</a>
		<div class="navi">
			<a class="navButtons" href="grounds.html">Grounds</a>
			<a class="navButtons" href="images.html">Images</a>
			<a class="navButtons" href="media.html">Social Media</a>
		</div>
		</div>
		<h1 class="currentPage">Welcome Page</h1>
		<br>
		<div id="descriptionId">
			<h1>What is Cricket?</h1>
			<h5>Cricket is the second most popular sport in the world, behind only Soccer. The game is played by men and women around the world and watches by an even greater audience. Cricket is governed by the International Cricket Council (ICC). Cricket's Marquee event is the ICC Cricket World Cup. The ICC facilitates the games laws and each country's membership level. The two categories of memberships are Permanent and Associate Members.
				<ul>
					<li>Permanent Members

					<div>
							<img class="fadingSlide" src="../media/slideShowAbt/afgFlag2.jpg" alt="Afghanistan's Flag. Three columns of black, red and green from left to right. The national crest, in white, is in the center of the flag and spans over the three colours.">
							<img class="fadingSlide" src="../media/slideShowAbt/ausFlag.jpg" alt="Australian Flag. Blue background with the union jack in the top left corner and 6 white stars.">
							<img class="fadingSlide" src="../media/slideShowAbt/bdFlag.jpg" alt="Bangladesh's flag. Green background with a large red dot in the center.">
							<img class= "fadingSlide" src="../media/slideShowAbt/ENGflag.jpg" alt="England Flag. White background with a red cross in the center that reaches the four edges of the flag.">
							<img class="fadingSlide" src="../media/slideShowAbt/IndFlag.jpg" alt="Indian Flag. Three rows of orange, white and green. In the white row is a blue 24 spoke wheel.">
							<img class="fadingSlide" src="../media/slideShowAbt/IrelandFlag.jpg" alt="Irish Flag. Three columns of green, white and orange.">
							<img class="fadingSlide" src="../media/slideShowAbt/NZFlag.jpg" alt="New Zealand's Flag. The flag is similar to Australia's flag, but has subtle differences. There are four stars and they are red.">
							<img class="fadingSlide" src="../media/slideShowAbt/PKFlag.jpg" alt="Pakistani FLag. A column of white to the left, and a background of green to the right. There is a crescent moon with the opening facing the right side. There is a 5 pointed star to the right of the moon.">
							<img class="fadingSlide" src="../media/slideShowAbt/SAFlag.jpg" alt="South African Flag. Colour combination of black, red, blue and green. Black is all the way on the left in a triangular shpe, with a green border in a Y-shape. Above the Y-shape is red. Below is blue. ">
							<img class="fadingSlide" src="../media/slideShowAbt/SLFlag.jpg" alt="Sri Lankan Flag. Yellow background with two columns of green and orange on the left. Then a smaller red landscape with a lion carrying a sword on it.">
							<img class="fadingSlide" src="../media/slideShowAbt/WIFlag.jpg" alt="Flag for the islands combining the West Indies. A purple background with a beach image consisting of a tree and cricket stumps, the sun, and the ocean.">
							<img class="fadingSlide" src="../media/slideShowAbt/ZimbabweFlag.jpg" alt="Zimbabwe's flag. A bird-like figure on a red star in a white background on the left. Then there are multiple rows of green, yellow, and red. A black row stars the mirror image of top three rows beneath it.">
						</div>
	<a class="prev">&#10094;</a>
	<a class="next">&#10095;</a>
	<div class="dots">
		<span class="dot"></span>
		<span class="dot"></span>
		<span class="dot"></span>
		<span class="dot"></span>
		<span class="dot"></span>
		<span class="dot"></span>
		<span class="dot"></span>
		<span class="dot"></span>
		<span class="dot"></span>
		<span class="dot"></span>
		<span class="dot"></span>
		<span class="dot"></span>
	</div>
					</li>
					<li>Associate Members</li>
				</ul>
				 
			</h5>
		</div>
		<img class="cricketAbtImg" src="../media/cricketAboutImg.jpg">
</body>
</html>