<!DOCTYPE html>
<html>
<head>
	<title>BC - Grounds</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script type="text/javascript" src="../js/grounds.js"></script>
	<link rel="stylesheet" type="text/css" href="../stylesheets/grounds.css">
		<link rel="stylesheet" type="text/css" href="../stylesheets/universal.css">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
</head>
<body>
	<div class="navBar">
			<a href="../index.html">
				<img id="bcLogo1" src="../media/bclogo1.jpg" alt="A round shape containing website logo, reading BaseCricks followed by cricket stumps.">
			</a>
		<div class="navi">
			<a class="navButtons" href="about.html">Welcome</a>
			<a class="navButtons" href="images.html">Images</a>
			<a class="navButtons" href="media.html">Social Media</a>
		</div>
	</div>
	<div id="groundDiv">
			<img class="fadingSlide" src="../media/sharjah.jpg" alt="Sky view of the grassy Sharjah Cricket Ground">
			<img class="fadingSlide" src="../media/HPCA.jpg" alt="Side view of the beautiful HPCA cricket ground in India. There is a stand that is coloured in many colours surrounded by views of mountains.">
			<img class="fadingSlide" src="../media/gaddafi.jpg" alt="A bird's view of the Gaddafi stadium in Pakistan. The stadium, surrounded by darkness, is lit up emphasizing the greenery the field posseses.">
			<img class="fadingSlide" src="../media/mirpur.jpg" alt="Top view of the Shere Bangla stadium in daylight. The image shows people enjoying the day and the match on display.">
			<a class="prev">&#10094;</a>
			<a class="next">&#10095;</a>
			<div class="dots">
				<span class="dot"></span>
				<span class="dot"></span>
				<span class="dot"></span>
				<span class="dot"></span>
			</div>
			<div>
				<h3>Cricket is played all around the world. In the slideshow above, enjoy some of the world's greatest cricket grounds from various angles.</h3>
			</div>
	</div>
	<h1 class="currentPage">Grounds</h1>

</body>
</html>