<!DOCTYPE html>
<html>
<head>
	<title>BC - Cricket through Images</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script type="text/javascript" src="../js/images.js"></script>
	<link rel="stylesheet" type="text/css" href="../stylesheets/images.css">
	<link rel="stylesheet" type="text/css" href="../stylesheets/universal.css">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
</head>
<body>
	<div class="navBar">
			<a href="../index.html">
				<img id="bcLogo1" src="../media/bclogo1.jpg" alt="A round shape containing website logo, reading BaseCricks followed by cricket stumps.">
			</a>
		<div class="navi">
			<a class="navButtons" href="about.html">Welcome</a>
			<a class="navButtons" href="grounds.html">Grounds</a>
			<a class="navButtons" href="media.html">Social Media</a>
		</div>
		<h1 class="currentPage">Cricket Through Images</h1>
	</div>

	<div class="gridContainer1">
		<img class="gridImg" src="../media/cricketDes.jpg" alt="A image of a blue board that starts off by reading: Cricket as explained to a foreign visitor. The board provides a simplified version of the game. Stating there are two sides and players try to defend their wickets.">
		<img class="gridImg" src="../media/cricketMon.jpg" alt="An image of a screen with various cricket terms spread throughout the image.">
		<img class="gridImg" src="../media/crickHist.jpg" alt="Image that describes the history of the cricket bat. Starts from a hockey stick to the modern paddle type bat it is today.">
		<img class="gridImg" src="../media/localCrick.jpg" alt="A young boy posing after taking his shot at the ball in a local area. The kids are surrounded by sand and mud, using the stumps, with mountains in the background.">
		<img class="gridImg" src="../media/ashes.jpg" alt="A newspaper article snapshot from 1882 stating the death of English Cricket has arrived. This started a rivalry of cricketing giants Australia and England.">
		<img class="gridImg" src="../media/swingBall.jpg" alt="An image describing the principles behind different possible deliveries in cricket. A red ball is on the laft and one on the right. Arrows are used to describe movement and motion.">
		<img class="gridImg" src="../media/fieldSetting.jpg" alt="A green circle with sevaral points describing different fielding positions on a cricket field.">
		<img class="gridImg" src="../media/cricBall1.jpg" alt="A basket full of red and white cricket balls with their own logos on them.">
		<img class="gridImg" src="../media/Dennis.jpg" alt="A cricket bowler in the midst of bowling action. The player's name is Dennis Lille. Dennis' right arm is swinging above his head and his left foot a head of his right. He is captured right next to the stumps.">
		<img class="gridImg" src="../media/stumps.jpg" alt="Three wooden cricket stumps. Connected with bails at the top. The stumps are lodged into the ground. A red cricket ball is placed neatly next to the stumps on a cricket pitch.">
		<img class="gridImg" src="../media/kate.jpg" alt="Kate Middleton preparing for a cricket shot holding a yellow cricket bat and plastic training stumps.">
		<img class="gridImg" src="../media/descrip.jpg" alt="An image describing the facets of cricket. A drawn field is placed on the right. The image describes teams, players, ball, and wickets. ">
	</div>
</body>
</html>