<!DOCTYPE html>
<html>
<head>
	<title>BC - Cricket through Images</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script type="text/javascript" src="../js/images.js"></script>
	<link rel="stylesheet" type="text/css" href="../stylesheets/images.css">
</head>
<body>
	<div class="navBar">
			<a href="../index.html">
				<img id="bcLogo1" src="../media/bclogo1.jpg">
			</a>
		<div class="navi">
			<a class="navButtons" href="about.html">About</a>
			<a class="navButtons" href="grounds.html">Grounds</a>
			<a class="navButtons" href="media.html">Social Media</a>
		</div>
		<h1 class="currentPage">Cricket Through Images</h1>
	</div>

	<div class="gridContainer1">
		<img class="gridImg" src="../media/cricketDes.jpg">
		<img class="gridImg" src="../media/cricketMon.jpg">
		<img class="gridImg" src="../media/crickHist.jpg">
		<img class="gridImg" src="../media/localCrick.jpg">
		<img class="gridImg" src="../media/ashes.jpg">
		<img class="gridImg" src="../media/swingBall.jpg">
		<img class="gridImg" src="../media/fieldSetting.jpg">
		<img class="gridImg" src="../media/cricBall1.jpg">
		<img class="gridImg" src="../media/Dennis.jpg">
		<img class="gridImg" src="../media/stumps.jpg">
		<img class="gridImg" src="../media/kate.jpg">
		<img class="gridImg" src="../media/descrip.jpg">
	</div>
</body>
</html>