<!DOCTYPE html>
<html>
<head>
	<title>BC - Social Media</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script type="text/javascript" src="../js/media.js"></script>
	<link rel="stylesheet" type="text/css" href="../stylesheets/media.css">
	<link rel="stylesheet" type="text/css" href="../stylesheets/universal.css">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
</head>
<body>
	<div class="navBar">
			<a href="../index.html">
				<img id="bcLogo1" src="../media/bclogo1.jpg">
			</a>
		<div class="navi">
			<a class="navButtons" href="about.html">Welcome</a>
			<a class="navButtons" href="../templates/grounds.html">Grounds</a>
			<a class="navButtons" href="../templates/images.html">Images</a>
		</div>
	</div>
	<h1 class="currentPage">Social Media</h1>
	<img class="iCC iccInsta" src="../media/iccInsta.jpg" alt="Instagram Logo. A brightly coloured square background with a camera stamped on it.">
	<img class="iCC iccFB" src="../media/iccFb.jpg" alt="Facebook Logo. A blue square with a white lowercase f.">
	<img class="iCC iccTwit" src="../media/iccTwitter.jpg" alt="Twitter logo. A blue bird. Designed to be very upbeat to emulate that it is alive and 'tweeting.'">
	<div class="logoHold"><a href="https://www.facebook.com/icc" target="_blank"><img class="logo fbLogo" src="../media/fbLogo.png" alt="Snapshot of the ICC facebook page."></a></div>
	<div class="logoHold"><a href="https://www.instagram.com/icc/?hl=en" target="_blank"><img class="logo igLogo" src="../media/igLogo.png" alt="A snapshot of the ICC instagram page with the description on top and images below the header."></a></div>
	<div class="logoHold"><a href="https://twitter.com/ICC?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"><img class="logo twtrLogo" src="../media/TWTRLogo.png" alt="ICC's twitter page. A screenshot of the profile, showcasing tweets and headlines from the ICC website."></a></div>

</body>
</html>